.sort {
  grid-area: sort;

  &-list {
    display: flex;

    &__item {
      margin-left: -1px;
      width: 100%;

      &:first-child {
        margin-left: 0;

        & .sort-list__button {
          border-radius: 5px 0 0 5px;
        }
      }

      &:last-child .sort-list__button {
        border-radius: 0 5px 5px 0;
      }
    }

    &__button {
      background-color: #ffffff;
      border: 1px solid #dfe5ec;
      color: #4a4a4a;
      cursor: pointer;
      font-size: 12px;
      font-weight: 600;
      height: 50px;
      letter-spacing: 0.5px;
      outline: none;
      text-transform: uppercase;
      width: 100%;

      &--active {
        background-color: #2196f3;
        border: none;
        color: #ffffff;
      }
    }
  }
}
