.show-more {
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 600;
  grid-area: more;
  height: 50px;
  letter-spacing: 0.5px;
  outline: none;
  text-transform: uppercase;
}
